<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBTER5M9ivKxDuMXYFMF-8TrAQTKfMx2kA" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
